#restore-browser {
	width: 100%;
}

#restore-browser td {
	width: 45%;
}

#restore-browser-files, #restore-browser-versions, #restore-browser-selected {
	overflow: auto;
	width: 100%;
	height: 100% !important;
	background-color: white;
}

#restore-browser-files {
	height: calc(100% - 57px) !important;
}

@media only screen and (max-width: 600px) {
	#restore-browser-files {
		/* On small devices bottom toolbar with search, offset and limit is not displayed */
		height: 100% !important;
	}
}

@media only screen and (max-width: 1650px) {
	.offset_limit {
		display: none;
	}
}

#restore-browser-files-loading {
	position: absolute;
	z-index: 10;
	height: 100%;
	background: rgba(182,182,182,0.4) url('/themes/Baculum-v2/loader-small.gif') no-repeat center center;
}

#restore-browser-files-content {
	position: relative;
	height: 100%;
}

.file-browser-detail {
	width: 100%;
}

div.file-browser-element {
	cursor: pointer;
	padding: 4px 8px;
	clear: both;
}

div.file-browser-element:hover {
	background-color: rgb(219, 222, 223);
}

.restore-browser-element-right {
	float: right;
	width: 137px;
}

.restore-browser-element-right {
	line-height: 24px;
}

.file-browser-watermark {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	font-size: 21px;
	color: rgb(185, 184, 184);
}

a.remove_selected_item {
	padding-top: 2px;
}

#backup-to-restore-field > div {
	height: 467px;
	overflow-y: auto;
}

.normal {
	font-weight: normal;
}

.bold {
	font-weight: bold;
}

/* Overwrite jQuery-UI draggable class to solve problem with
 * scrolling file list on mobile devices
 */
.ui-draggable-handle {
    touch-action: auto !important;
}
