#page_main > header {
	display: inline-block;
	margin-top: 8px;
}

#jobs_summary_graph {
	height: 310px;
	max-width: 800px;
	z-index: 0;
	cursor: pointer;
}

.monospace {
	font-family: "Courier New", Courier, monospace !important;
}

pre {
	white-space: pre-wrap;       /* css-3 */
	white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
	white-space: -pre-wrap;      /* Opera 4-6 */
	white-space: -o-pre-wrap;    /* Opera 7 */
	word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

table.dataTable {
	font-size: 14px;
	line-height: 1.2;
	border: 1px solid #c1c1c1;
}

table.dataTable tfoot th, table.dataTable tfoot td {
	border-top: 1px solid #c1c1c1;
}

table.dataTable thead th, table.dataTable thead td {
	border-bottom: 1px solid #c1c1c1;
}

table.dataTable thead tr {
	background-color: #4c4b4b;
	color: white;
}

th, table.dataTable thead td {
	border-bottom: none !important;
}

table.dataTable tbody td {
	vertical-align: middle;
}

table.dataTable.no-footer {
	border-bottom: 1px solid #c1c1c1;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
	color: black !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
	border: 1px solid #4CAF50 !important;
	background: #4CAF50 !important;
	border-radius: unset !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
	background: none !important;
	border: 1px solid #4CAF50 !important;
	border-radius: unset !important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button:active, .dataTables_wrapper .dataTables_paginate .paginate_button.current:active {
	border: 1px solid #4CAF50 !important;
	box-shadow: none !important;
}

.dataTables_length {
	margin-right: 5px !important;
}

.dataTables_wrapper select, div.dt-buttons .dt-button {
	padding: .57em .5em !important;
	border: 1px solid #999 !important;
	border-radius: 2px !important;
	background-color: #e9e9e9 !important;
	background-image: linear-gradient(to bottom, white 0%, #e9e9e9 100%) !important;
}
div.dt-buttons .dt-button:nth-of-type(1), div.dt-buttons .dt-button:nth-of-type(2) {
	padding: .6em .8em !important;
}

div.dt-buttons .dt-button:nth-of-type(3) {
	padding: .6em .5em .46em .5em !important;
}

table.dataTable tbody th, table.dataTable tbody td {
	padding: 8px 7px;
}

table.dataTable tfoot th:nth-of-type(2), table.dataTable tfoot td:nth-of-type(2) {
	padding: 10px 0 6px 6px !important;
}

table.dataTable tfoot th, table.dataTable tfoot td {
	padding: 10px 0 6px 0 !important;
}

/* Hide first default column in column visibility menu */
div.dt-button-collection button[data-cv-idx="0"] {
	display: none !important;
}

table.dataTable thead .sorting {
	background-image: url("/themes/Baculum-v2/sort_both.png") !important;
}
table.dataTable thead .sorting_asc {
	background-image: url("/themes/Baculum-v2/sort_asc.png") !important;
}
table.dataTable thead .sorting_desc {
	background-image: url("/themes/Baculum-v2/sort_desc.png") !important;
}
table.dataTable thead .sorting_asc_disabled {
	background-image: url("/themes/Baculum-v2/sort_asc_disabled.png") !important;
}
table.dataTable thead .sorting_desc_disabled {
	background-image: url("/themes/Baculum-v2/sort_desc_disabled.png") !important;
}

.dataTables_wrapper .dataTables_filter input {
	background-color: white;
}

.dataTables_info span.select-info {
	margin-left: 10px;
}

table.selectable tr {
	cursor: pointer;
}

img.btn_loader {
	display: inline-block;
	margin: 0 9px 0 10px;
	width: 22px;
	height: 22px;
}

div.table_toolbar {
	display: inline-block;
	margin-left: 10px;
}

@media screen and (max-width: 640px) {
	div.table_toolbar {
		display: block !important;
		text-align: center;
	}
}

div.table_toolbar select {
	font-weight: bold;
	padding: .57em .5em !important;
	margin-left: 0.333em;
	margin-right: 2px;
}

#table_filters {
	display: inline-block;
	vertical-align: top;
}

#table_filters span.text {
	font-size: 12px;
}

#table_filters input, span.text {
	vertical-align: middle;
	top: 0;
}

#table_filters_body {
	border: 1px solid gray;
	padding: 9px 13px;
	border-radius: 4px;
	position: relative;
	top: -6px;
}

table.dataTable tbody > tr.selected, table.dataTable tbody > tr > .selected {
	background-color: #f5a55b !important;
}

.w3-hoverable tbody tr:hover,.w3-ul.w3-hoverable li:hover {
	background-color: #ffcf9e !important;
}

th.action_col, td.action_col {
	width: 110px !important;
	text-align: center !important;
}

td.action_col button {
	display: inline-block;
	margin: 0 auto;
}

.hide {
        display: none !important;
}

img.reset_btn, img.remove_btn {
        display: none;
        cursor: pointer;
        vertical-align: middle;
}

.step {
	/*width: 30% !important;*/
	min-height: 100px;
}

.step_title {
	clear: left;
	
}

div.opentip div.ot-header h1 {
	font-size: 14px !important;
	font-weight: bold;
}

div.opentip div.ot-content {
	padding: 5px;
	font-size: 14px;
	line-height: 18px;
}

div.TDatePicker_default {
	z-index: 10 !important;
}

i.directive_required {
	line-height: 40px;
}

i.help_icon {
	 margin-left: 16px !important;
	 cursor: pointer;
}
i.reset_btn, i.remove_btn {
	display: none;
	cursor: pointer;
	margin-left: 4px;
}
i.plus_btn {
	margin-right: 2px;
}

div.directive_value i {
	vertical-align: middle;
}

div.directive_value:hover i.reset_btn, div.directive_value:hover i.remove_btn {
	display: inline;
}

div.directive_field {
	margin: 7px 0;
}

div.directive_field input, div.directive_field select, div.directive_field textarea {
	max-width: 400px;
}
div.directive_field input.w3-half, div.directive_field select.w3-half, div.directive_field textarea.w3-half {
	max-width: 200px;
}
div.directive_field input.w3-quarter, div.directive_field select.w3-quarter, div.directive_field textarea.w3-quarter {
	max-width: 100px;
}

.view_header {
	margin: 0 0 2px 16px;
}

div.details_card {
	min-height: 200px;
}

@media screen and (max-width: 620px) {
	div.details_card {
		width: 100%;
	}
}
@media screen and (min-width: 621px) {
	div.details_card {
		width: 270px;
	}
}

.button_fixed {
	min-width: 125px;
}

div.config_directives {
	padding: 10px;
}

#last_jobs_list tbody tr {
	cursor: pointer;
}

.justify {
	text-align: justify;
}

.fileset_browser_file_container, .fileset_browser_include_container, .fileset_browser_exclude_container {
	width: 50%;
	overflow-y: auto;
	overflow-x: none;
	background-color: white;
	padding: 0;
	height: 384px;
}

.fileset_browser_include_container {
	height: 150px;
}

.fileset_browser_exclude_container {
	height: 162px;
}

.item {
	cursor: pointer;
	clear: left;
	height: 30px;
}

.item a {
	text-decoration: underline;
}

.item i {
	float: left;
}

.item, .item_included, .item_excluded {
	padding: 4px 0 4px 4px;
	background-color: transparent;
}

.item_included, .item_excluded {
	width: 100%;
}

.item:hover, .item_included:hover, .item_excluded:hover {
	width: 100%;
	height: 30px;
	background-color: #e7e7e7;
}

.item_inc_exc_btn {
	display: inline-block;
	float: right;
	margin-left: 5px;
}

.item_selected_del_btn {
	float: right;
	margin: 2px 10px;
	cursor: pointer;
}

.item_name {
	width: 69%;
	float: left;
	padding-left: 5px;
}

.item_icon {
	font-size: 24px;
	vertical-align: bottom;
}

ul.new_element_menu {
	margin-top: 0;
	padding-left: 0;
	padding-top: 8px
}

ul.new_element_menu li {
	padding: 2px 16px;
}

ul.new_element_menu li a {
	text-decoration: none;
}

table.status_table tr {
	height: 40px;
}

table.status_table td:nth-of-type(1) {
	width: 35%;
}

table.status_table td, table.status_table td i {
	vertical-align: middle;
}

.fa-ellipsis-v {
	padding: 10px 15px;
	border-radius: 50%;
	background-color: transparent;
}

.fa-ellipsis-v:hover {
	background-color: #efeff0;
}

.progressbar {
	position: relative;
}

.progressbar-label {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	top: 4px;
	font-weight: bold;
	text-shadow: 1px 1px 0 #fff;
}

.smallbox {
	width: 160px;
}

.xtinybox {
	width: 65px !important;
}

a.raw {
	text-decoration: none;
}

.option_cell {
	width: 330px;
}

.resource:hover, .component:hover {
	background-color: #faedd5;
}

table.component td:nth-of-type(1) {
	line-height: 23px;
	vertical-align: sub;
	padding-top: 11px;
}

.bottom_buttons {
	position: fixed;
	bottom: 0;
	left: 0;
	padding: 5px 0;
	min-height: 48px;
	background-color: rgba(255, 255, 255, 0.5);
	width: calc(100% - 250px);
}

.bottom_buttons a, .bottom_buttons button {
	margin: 0 3px;
}

.usage_box {
	height: 79px;
	-webkit-transition: height 0.3s; /* For Safari 3.1 to 6.0 */
	transition: height 0.3s;
}

.usage_box:hover {
	height: 140px;
}

.usage_box h5 {
	margin-top: 5px;
	margin-left: 47px;
}

.usage_box h4 {
	margin-top: 3px;
}

.info {
	color: #333;
}

.error {
	color: red;
}

/* Option row */
.opt_row {
	line-height: 36px;
}

/* Required option */
.opt_req {
	line-height: 40px;
	display: inline;
	margin-left: 2px;
}

.field_invalid {
	border: 1px solid red !important;
}

#job_graph_container {
	display: flex;
	flex-wrap: wrap;
}

#job_graph_container > div {
	width: 420px;
	margin: 10px;
}

.gauge, .gauge_container {
	width: 300px;
	height: 150px;
}

.gauge_label {
	display: inline-block;
	position: relative;
	top: -44px;
	left: 122px;
}

.device_colinfo, .job_colinfo {
	display: none;
}

.status_header, .device_columns {
	padding: 5px;
	font-size: 17px;
	margin: 3px 0;
	display: flex;
}

.device_columns > div {
	text-align: center;
	font-weight: bold;
}


.status_header {
	cursor: pointer;
	border: 1px solid #dddddd;
}

.status_header:hover {
	background-color: #e9e9e9;
	border-radius: 3px;
}

.status_header > div, .device_columns > div {
	flex-basis: 385px;
}

.status_header.schedule > div {
	flex-basis: 300px;
}

#status_storage_filters select {
	width: 250px;
	margin-left: 10px;
	margin-top: 5px;
}

@media only screen and (max-width: 670px) {
	.gauge, .gauge_container {
		width: 150px;
		height: 75px;
	}

	.gauge_label {
		top: -19px;
		left: 45px;
	}
	.status_header {
		flex-wrap: wrap;
	}
	.device_columns {
		display: none;
	}
	.device_colinfo, .job_colinfo {
		display: inline;
	}
}

@keyframes blinker {
	50% {
		opacity: 0;
	}
}

.blink {
  animation: blinker 4s linear infinite;
}

img.job_weather_icon {
	display: block;
	margin: 0 auto;
	height: 32px;
	width: 32px;
	cursor: help;
}

/* API server OAuth2 progress bar */

#progress_label {
	position: absolute;
	width: 100%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-weight: bold;
}

/* STATUS type classes */
.status_flex_row {
	display: flex;
	flex-flow: row wrap;
}

.status_flex_row > div {
	flex-basis: 180px;
	height: 28px;
}

/* Schedule setting */
.day_of_month, .week_of_month, .week_of_year {
	width: 14px;
}

div.directive_help dt, div.directive_help dd {
	color: #333;
}

div.directive_help dt {
	padding: 5px;
}

div.directive_help dd {
	margin-inline-start: 20px;
}
